{
  "root": true,

  "extends": "airbnb-base",

  "parserOptions": {
    "sourceType": "script"
  },

  "rules": {
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "no-use-before-define": 1,
    "no-var": 0,
    "object-shorthand": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "prefer-arrow-callback": 0,
    "prefer-const": 0,
    "prefer-template": 0,
    "strict": [2, "safe"],
    "vars-on-top": 0
  }
}
