{
  "root": true,

  "extends": "airbnb-base/legacy",

  "parserOptions": {
    "sourceType": "script"
  },

  "rules": {
    "func-names": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "no-use-before-define": 1,
    "vars-on-top": 0,
    "yoda": 0,
  }
}
