# gitignore

.DS_Store
node_modules
build/*.gz
*.sw?

# Only apps should have lockfiles
npm-shrinkwrap.json
package-lock.json
yarn.lock

# these are built at npm pre-publish time
*.common-js.js
*.es-modules.js
